<?xml version="1.0"?>
<!-- MoveIt URDF xacro wrapper for dual arm mobile manipulator -->
<robot name="m1013_dual_mobile" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Arguments -->
  <xacro:arg name="mode" default="virtual"/>
  <xacro:arg name="color" default="white"/>
  <xacro:arg name="gripper" default="none"/>
  <xacro:arg name="arm_spacing" default="0.6"/>
  <xacro:arg name="torso_mount_height" default="0.15"/>
  <xacro:arg name="use_fake_hardware" default="false"/>

  <!-- Include the main URDF -->
  <xacro:include filename="$(find dsr_description2)/xacro/m1013_dual_mobile.urdf.xacro" />

  <!-- Pass through arguments -->
  <!-- Already defined in the main URDF, so we don't need to redefine them -->

</robot>
