<?xml version="1.0"?>
<robot name="m1013" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="gripper" default="none"/>
  <xacro:property name="grip" value="${xacro.arg('gripper')}"/>
  
  <group name="manipulator">
    <chain base_link="base_link" tip_link="link_6" />
  </group>

  <xacro:if value="${grip == 'robotiq_2f85'}">
    <group name="manipulator_gripper_closed">
      <chain base_link="base_link" tip_link="gripper_tcp_closed"/>
    </group>
    <group name="manipulator_gripper_opened">
      <chain base_link="base_link" tip_link="gripper_tcp_opened"/>
    </group>
  </xacro:if>

  <group_state name="all-zeros" group="manipulator">
    <joint name="joint_1" value="0"/>
    <joint name="joint_2" value="0"/>
    <joint name="joint_3" value="0"/>
    <joint name="joint_4" value="0"/>
    <joint name="joint_5" value="0"/>
    <joint name="joint_6" value="0"/>
  </group_state>

  <xacro:if value="${grip == 'robotiq_2f85'}">
    <group_state name="all-zeros" group="manipulator_gripper_closed">
        <joint name="joint_1" value="0"/>
        <joint name="joint_2" value="0"/>
        <joint name="joint_3" value="0"/>
        <joint name="joint_4" value="0"/>
        <joint name="joint_5" value="0"/>
        <joint name="joint_6" value="0"/>
    </group_state>
  </xacro:if>

  <xacro:if value="${grip == 'robotiq_2f85'}">
    <group_state name="all-zeros" group="manipulator_gripper_opened">
        <joint name="joint_1" value="0"/>
        <joint name="joint_2" value="0"/>
        <joint name="joint_3" value="0"/>
        <joint name="joint_4" value="0"/>
        <joint name="joint_5" value="0"/>
        <joint name="joint_6" value="0"/>
    </group_state>
  </xacro:if>

  <virtual_joint name="FixedBase" type="fixed" parent_frame="world" child_link="base_link"/>

  <disable_collisions link1="base_link" link2="link_1" reason="Adjacent"/>
  <disable_collisions link1="base_link" link2="link_3" reason="Never"/>
  <disable_collisions link1="link_1" link2="link_2" reason="Adjacent"/>
  <disable_collisions link1="link_1" link2="link_3" reason="Never"/>
  <disable_collisions link1="link_1" link2="link_5" reason="Never"/>
  <disable_collisions link1="link_1" link2="link_6" reason="Never"/>
  <disable_collisions link1="link_2" link2="link_3" reason="Adjacent"/>
  <disable_collisions link1="link_2" link2="link_4" reason="Never"/>
  <disable_collisions link1="link_2" link2="link_5" reason="Never"/>
  <disable_collisions link1="link_2" link2="link_6" reason="Never"/>
  <disable_collisions link1="link_3" link2="link_4" reason="Adjacent"/>
  <disable_collisions link1="link_3" link2="link_5" reason="Never"/>
  <disable_collisions link1="link_3" link2="link_6" reason="Never"/>
  <disable_collisions link1="link_4" link2="link_5" reason="Adjacent"/>
  <disable_collisions link1="link_4" link2="link_6" reason="Never"/>
  <disable_collisions link1="link_5" link2="link_6" reason="Adjacent"/>

  <xacro:if value="${grip == 'robotiq_2f85'}">
    <disable_collisions link1="robotiq_85_base_link" link2="link_6" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_left_knuckle_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_right_knuckle_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_left_knuckle_link" link2="robotiq_85_left_finger_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_right_knuckle_link" link2="robotiq_85_right_finger_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_left_finger_link" link2="robotiq_85_left_finger_tip_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_right_finger_link" link2="robotiq_85_right_finger_tip_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="robotiq_85_left_knuckle_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="robotiq_85_right_knuckle_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_left_inner_knuckle_link" link2="robotiq_85_left_finger_tip_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_right_inner_knuckle_link" link2="robotiq_85_right_finger_tip_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_left_inner_knuckle_link" reason="Adjacent"/>
    <disable_collisions link1="robotiq_85_base_link" link2="robotiq_85_right_inner_knuckle_link" reason="Adjacent"/>
    <disable_collisions link1="gripper_tcp_closed" link2="gripper_tcp_opened" reason="Adjacent"/>
  </xacro:if>
</robot>
